<h1>Classes</h1>

<h2>Current Classes</h2>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Class Name</th>
			<th>Schedule</th>
			<th>Capacity</th>
			<th>Trainer</th>
		</tr>
	</thead>
	<tbody>
		{{#each classes}}
		<tr>
			<td>{{classID}}</td>
			<td>{{className}}</td>
			<td>{{schedule}}</td>
			<td>{{capacity}}</td>
			<td>{{trainerName}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>