<h1>Memberships</h1>

<h2>Current Memberships</h2>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Membership Name</th>
			<th>Price</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Member</th>
		</tr>
	</thead>
	<tbody>
		{{#each memberships}}
		<tr>
			<td>{{membershipID}}</td>
			<td>{{membershipName}}</td>
			<td>{{price}}</td>
			<td>{{startDate}}</td>
			<td>{{endDate}}</td>
			<td>{{memberName}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>