<h1>Trainers</h1>

<h2>Current Trainers</h2>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Bio</th>
		</tr>
	</thead>
	<tbody>
		{{#each trainers}}
		<tr>
			<td>{{trainerID}}</td>
			<td>{{firstName}}</td>
			<td>{{lastName}}</td>
			<td>{{email}}</td>
			<td>{{bio}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>